@using Global.Web.Models
@model SubsiteListViewModel

@{Html.RenderPartial("InstanceList", Model.InstanceListViewModel);}

<div class="actions">
    @Html.ActionLink("Create Batch", "CreateBatch")
</div>
