@using Global.Data
@model TemplateInfoDto

<p><strong>Layout:</strong></p>
<div class="rectangle">
    @{
        int index = 0;
        foreach (var zone in Model.Zones.OrderBy(o => o.Row))
        {
            string label = string.Format("Zone {0}", ++index);
        <p>@label: @zone.Label (@zone.Style)</p>
        <div class="rectangle">
            @if (zone.Block != null)
            {
                Html.RenderPartial("_BlockLayout", zone.Block);
            }
        </div>
        }
    }
</div>
